html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #000;
}

#search-bar {
  padding: 5px;
  background-color: #19b80b;
}

table {
  font-size: 20px;
  width: 80vw;
}

@media (max-width: 500px) {
  table {
    width: 95vw;
  }
}

th {
  color: #19b80b;
}

td {
  background-color: #888;
  padding: 5px;
  text-align: center;
}